<h1>Hola Mundo</h1>
<app-header></app-header><!--Sirve para no repetir código-->
<ul>
  <li>Nombre: {{ nombre }}</li>
  <li>Apellido: {{ apellido }}</li>
</ul>

<div>
  <app-body></app-body>
</div>

<app-footer></app-footer>